<nav ng-controller="headerController" class="navbar p-l-5 p-r-5">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand">
                    <img src="assets/images/logo2.png">
                    <span style="vertical-align: inherit;">{{ setting.title }}</span>
                </a>
            </div>
        </li>
        <li><a href="javascript:void(0);" class="ls-toggle-btn" data-close="true" title="菜单栏"><i class="zmdi zmdi-swap"></i></a></li>
<!--         <li class="d-none d-md-inline"><a href="events.html" title="Events"><i class="zmdi zmdi-calendar"></i></a></li>
        <li class="d-none d-md-inline"><a href="mail-inbox.html" title="Inbox"><i class="zmdi zmdi-email"></i></a></li>
        <li><a href="contact.html" title="Contact List"><i class="zmdi zmdi-account-box-phone"></i></a></li> -->
        <li class="float-right">
            <a href="javascript:void(0);" class="fullscreen hidden-sm-down" data-provide="fullscreen" data-close="true"><i class="zmdi zmdi-fullscreen" title="全屏"></i></a>
            <a  ng-click="logout()" class="mega-menu" data-close="true"><i class="zmdi zmdi-power" title="退出"></i></a>
            <span class="dropdown">
                <a  href="sign-in.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-settings zmdi-hc-spin"></i> </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a ng-click="modifypassword()" data-close="true">修改密码</a></li>
                        
                        

                    <!-- <li><a href="javascript:void(0);"></a></li> -->
                    <li><a href="javascript:void(0);">...</a></li>
                </ul>
            </span>
        </li>
    </ul>
</nav>