<div ng-controller="titleController" class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
                {{ $state.current.data.pageTitle }}
                <small>{{ $state.current.data.subTitle}}</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);" ><i class="fa fa-home"></i> {{ setting.title }}</a></li>
                <li class="breadcrumb-item active">{{ $state.current.data.pageTitle }}</li>
            </ul>
        </div>
    </div>
</div>