<div ng-controller="adminHomeController">
    <section class="content">
        <div ng-include src="'template/title.html'"></div>
        <div class="container-fluid">
            <!-- Basic Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>用户数量</strong> user number</h2>
                            <div ng-include src="'template/headerDropdown.html'"></div>
                        </div>
                        <div id="chartmain" style="width: 994px; height: 400px;margin: auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
